:root {
  --primary-color: hsla(235, 100%, 50%, 1);
  --secondary-color: hsla(0, 0%, 0%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: hsla(190, 100%, 78%, 1);
  overflow-x: hidden;
  max-width: 90rem;
  margin: auto auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  list-style: none;
}


/* ++++++++++++++++++++ navigation bar ++++++++++++++++++++++++++++++++ */
.navbar {
  display: flex;
  justify-content: space-between;
  /* background: hsla(190, 77%, 88%, 0.54); */
  background-color: hsla(0, 0%, 100%, 0.54);
  box-shadow: .25rem .25rem .25rem 0rem hsla(235, 64%, 49%, 0.39);
}

.navbar img {
  width: 15.8244rem;
  height: 3.8862rem;
  margin: 1.3125rem 0 0 5.6875rem;
}

.navbar-menu_items {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  margin: 3.1875rem 5.6875rem 2.3125rem 0;
}

.navbar-menu_items li {
  font-weight: 700;
  font-size: .875rem;
}

.navbar-menu_items :first-child {
  color: var(--primary-color);
}

.navbar-menu_items li {
  padding-left: 3.5rem;
}



/* +++++++++++++++++++++++++++  banner section ++++++++++++++++++++++++++++++++ */

.banner {
  position: relative;
  display: flex;
  margin-bottom: 18.75rem;
}

.banner-left h1 {
  /* font-family: Soliden Trial; */
  font-size: 2.6875rem;
  font-weight: 700;
  line-height: 3.01rem;
  text-align: left;
  width: 33.375rem;
  margin-top: 19.8125rem;
  margin-left: 5.6875rem;
  margin-bottom: 2.4375rem;
}

.banner-left span {
  color: var(--primary-color);
}

.banner-left_btn1 {
  width: 10.25rem;
  height: 2.5625rem;
  border-radius: .5rem;
  background-color: hsla(235, 100%, 50%, 1);
  color: hsla(0, 0%, 100%, 1);
  border: none;
  /* font-family: Soliden Trial; */
  font-size: .875rem;
  font-weight: 700;
  line-height: .98rem;
  letter-spacing: 0.13em;
  cursor: pointer;
  margin-left: 10.875rem;
  margin-right: .875rem;
}

.banner-left_btn2 {
  cursor: pointer;
  width: 10.25rem;
  height: 2.5625rem;
  border-radius: .5rem;
  color: hsla(235, 100%, 50%, 1);
  background-color: transparent;
  border: .0625rem solid hsla(235, 100%, 50%, 1);

}

.banner-right img {
  position: absolute;
  width: 56.25rem;
  top: 6.25rem;
  right: 6.25rem;
}

/* ++++++++++++++++  card section ++++++++++++++++++++ */

.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6.5rem;
  padding: 0 5.75rem 0 5.6875rem;
}

.card {
  width: 18.9375rem;
  height: 23.5rem;
  border-radius: 1.25rem;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: .125rem .375rem .375rem 0rem hsla(0, 0%, 0%, 0.06);
  box-shadow: .125rem .25rem .25rem 0rem hsla(0, 0%, 0%, 0.08) inset;
}

.card img {
  padding: 2.0625rem 6.0625rem 2.75rem 6.125rem;
}

.card h2 {
  /* font-family: Soliden Trial; */
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 1.33rem;
  text-align: left;
  padding-left: 3.8125rem;
  margin-bottom: .875rem;
}

.card p {
  /* font-family: Soliden Trial; */
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.1325rem;
  text-align: left;
  padding-left: 3.8125rem;
  padding-right: 3.1875rem;

}


/* ++++++++++++++    getting job ++++++++++++++++++ */


.getting-job {
  text-align: center;
  margin-bottom: 9.9375rem;
}

.getting-job h2 {
  /* font-family: Soliden Trial; */
  font-size: 2.6875rem;
  font-weight: 700;
  line-height: 3.01rem;
}

.getting-job span {
  color: var(--primary-color);
}

.getting-job img {
  width: 79.1875rem;
  height: 42.6875rem;
  border-radius: 1.25rem;
  margin: auto auto;
}

.getting-job div {
  margin-bottom: 6.5rem;
}

/* how it works */

.how-it-works {
  width: 79.1244rem;
  height: 32.5rem;
  border-radius: 1.25rem;
  background: hsla(0, 0%, 100%, 1);
  margin: auto auto;
  position: relative;
}

.how-it-works_texts_section h2 {
  /* font-family: Roboto; */
  font-size: 2.6875rem;
  font-weight: 700;
  line-height: 3.1494rem;
  text-align: left;
  padding-top: 8.375rem;
  padding-left: 4.875rem;
}

.how-it-works_texts_section span {
  color: var(--primary-color);
}

.how-it-works_texts_section p {
  /* font-family: Roboto; */
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.575rem;
  text-align: justify;
  margin-top: 3.5625rem;
  width: 30.8194rem;
  margin-left: 4.375rem;
}

.how-it-works_img_section img {
  position: absolute;
  top: 0;
  right: 0;
}

/* +++++++++ footer ++++++++++++ */
footer {
  margin-top: 17.25rem;
  background-color: hsla(0, 0%, 0%, 1);
}

footer p {
  text-align: center;
  color: hsla(0, 0%, 100%, 1);
  padding-top: 1.75rem;
  padding-bottom: 1.8125rem;
}